* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f111a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-weight: bold;
  color: gold;
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.navbar a:hover {
  opacity: 1;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background: #ddd;
}
